* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  backgound-color: #eca84f;
  color: #eca84f;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Outfit", sans-serif;
  padding-top: 4rem;
  padding-bottom: 2rem;
  gap: 1rem;
  box-sizing: border-box;
}

p {
  color: rgb(117, 75, 12);
}

.bg-text-animation {
  position: absolute;
  top: 5rem;
  font-size: 6.2rem;
  text-transform: uppercase;
  font-weight: 900;
  -webkit-text-stroke: 1px #ffffffff;
  -webkit-text-fill-color: transparent;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  z-index: -1;
  user-select: none;
}

.my-photo {
  width: 10rem;
  border-radius: 0%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;
}

a {
  text-decoration: none;
  color: inherit;
}

.sosmed i {
  font-size: 1.5rem;
  color: #5f2a12;
}

.sosmed i:hover {
  color: white;
}

.sosmed a:not(:last-child) {
  margin-right: 1rem;
}

ul {
  width: 80%;
  max-width: 40rem;
}

ul li {
  list-style: none;
}

ul.links li:not(:last-child) {
  margin-bottom: 1rem;
}

.links {
  margin-top: 0.5rem;
}

.link-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(226, 151, 38);
  gap: 0.2rem;
  padding: 0.2rem;
  border-radius: 40px;
  border: 2px solid #ffffffff;
}

.link-card:hover {
  border: 2px solid white;
}

.links .link-icon {
  background-color: #38b412;
  padding: 0.7rem;
  padding-top: 0.7rem;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links .link-icon i {
  color: white;
}

.links .link-text {
  text-align: center;
  color: rgb(77, 66, 66);
}

.link-action {
  color: #ffffffff;
  cursor: pointer;
  padding: 10px;
}

.copyright {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: #8787a3;
  font-size: 0.75rem;
}

.copyright img {
  width: 2rem;
  opacity: 0.8;
}

#toast {
  width: max-content;
  position: fixed;
  top: 0;
}

.toast-container {
  background-color: white;
  color: #0f0f25;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  animation: muncul 300ms ease-in-out;
}

.toast-gone {
  animation: hilang 1s ease-in-out 1s;
}

@keyframes muncul {
  from {
    opacity: 0;
    transform: translateY(-4rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hilang {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
